*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.3;
}

img, 
svg, 
video, 
area {
    max-width: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
h1,
h2, 
h3, 
h4,
h5,
a {
    font-family: "Oswald", sans-serif;
}


p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.header {
    background-color: #2E323F;;
}



.site-tagline-hero {
    padding: 1em 0;
}

.site-tagline-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    font-size: 2.3rem;
    text-decoration: none;
    color: #fff;
}

.hamburger-menu:hover {
    opacity: .6;
    transition: .9s;
    color: #a59678;
}




.nav-list {
    list-style: none;
    text-align: center;
    padding: 0 0 2em 0;
    margin: 0;
    line-height: 3;
}

.navigation {
    display: none;
}

.show {
    display: block
 }

.nav-link {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

.nav-link-button {
 border: 1px solid black;
 display:inline-block;
 border-radius: 100px;
 background-color: #a59678;;
 padding: .1em 1.5em;
 text-decoration: none;
 color: #fff;
}

.nav-link-button:hover {
    background-color: #fff;
    color: #a59678;
    transition: .4s;
}


.nav-link:hover {
transition: .2s;
text-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
color: #a59678;
opacity: 1;
}


.main {
    background-color: #3b4050;
    padding: 4em 0 8em 0;
    color: #fff;
}

.main-text p {
    margin-bottom: 3em;
}

.main-text {
    width: 85%;
}


.main-title {
    font-size: 1.938rem;
    max-width: 350px;
}
.main-title-orange {
    color: #a59678;
}

.article .col {
    margin-bottom: 3em;
}
.main-button {
    text-decoration: none;
    color: #fff;
    border: 1px solid #a59678;
    padding: .9em 2em;
    border-radius: 120px;
    background-color: #a59678;
    font-weight: 600;
    
}



.article {
    padding: 5em 0;
    background-color: #d6d6d6;
    text-align: center;
}

.article-title {
    color: #a59678;
    font-size: 1.875rem;
}



.content {
    padding: 2em 0;
}

.content-title {
    color: #a59678;
    font-size: 31px;
}

.content-image {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}




.sidebar-card {
    background-color: #3b4050;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
    padding: 1em;
}

.card-title {
    font-size: 1.875rem;
}
.card-title-invisible {
   visibility: hidden;
}


.footer {
    background-color: #2E323F;
    padding: 2em 0;
    color: #fff;
    text-align: center;
}

.footer-title {
    color: #a59678
}

.footer-list {
    list-style: none;
    padding: 0;
    line-height: 1.9;
}
/* 

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


@media(min-width: 750px) {
   .main {
    padding: 2em 0 6em 0;
   }

   .main-title {
    font-size:3.65rem ;
   }

   .main p {
    width: 70%;
   }

   .sidebar {
    display: flex;
    gap: 1em;

   }
}



@media(min-width: 1200px) {
    .row {
        display: flex;
        align-items: center;
        gap: 5em;
    }


    .site-tagline-hero {
        padding: .6em;
    }

    .main {
        padding: 2em 0 10em 0;
    }

    .container {
        width: 90%;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        width: 100%;
    }

    .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1.4em;
    }

    .hamburger-menu {
        display: none;
    }


    .primary-content {
        width: 50%;
    }

    .sidebar {
        width: 40%;
        padding: 0;
        margin: 0;
        display: block;
    }

  
    .footer {
        padding: 5em 0;
    }

    .footer-list {
        line-height: 3;
    }
}


