*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.3;
    
}

img, 
svg, 
video, 
area {
    max-width: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
h1,
h2, 
h3, 
h4,
h5,
a {
    font-family: "Oswald", sans-serif;
}





p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.header {
    background-color: #2E323F;;
}

.site-tagline-hero {
    padding: 1em 0;
}

.site-tagline-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    font-size: 2.3rem;
    text-decoration: none;
    color: #fff;
}

.hamburger-menu:hover {
    opacity: .6;
    transition: .9s;
    color: #a59678;
}




.nav-list {
    list-style: none;
    text-align: center;
    padding: 0 0 2em 0;
    margin: 0;
    line-height: 3;
}

.navigation {
    display: none;
}

.show {
    display: block
 }

 .nav-link {
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

.nav-link-button {
 border: 1px solid black;
 display:inline-block;
 border-radius: 100px;
 background-color: #a59678;;
 padding: .1em 1.5em;
 text-decoration: none;
 color: #fff;
}

.nav-link-button:hover {
    background-color: #fff;
    color: #a59678;
    transition: .4s;
}


.main-text {
    text-align: center;
}

.nav-link:hover {
transition: .2s;
text-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
color: #a59678;
opacity: 1;
}




@media(min-width: 1200px) {
    .row {
        display: flex;
        align-items: center;
        gap: 5em;
    }


    .site-tagline-hero {
        padding: .6em;
    }


    .container {
        width: 90%;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        width: 100%;
    }

    .nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1.4em;
    }

    .hamburger-menu {
        display: none;
    }




  
}

