#preloader {
    background: #000 url(/loader/circle-loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed; 
    z-index: 1;
}

@media (max-width: 768px) {
    #preloader {
      background-size: 80px;
    }
  }
  
  @media (max-width: 480px) {
    #preloader {
      background-size: 60px; 
    }
  }
  